/**/

canvas{
  background-image: url("https://tionitroblog.files.wordpress.com/2013/05/fplej72.gif");
  background-size: 100% 450px;
  width: 100%;
}

button{
  height: 60px;
}

button svg{
  height: 40px;
  width: 40px;
}

body{
  background-color: #F0FFF0;
}